// Sets the default fallback to light-mode.
// If a variable in a different color mode isn't found, gets the variable from the default fallback.
// Includes accent colors that do not need translation to any other color modes.
:root, .light-mode {
    --color-text: #000000;
    --color-background: #FFFFFF;
    --color-background-highlight: #F7F7F7;
    --color-primary: #0C67DF;
    --color-secondary: #E6E6E6;
    --color-accent: #1E4DC2;

    --color-alert-danger-bg: #f2dede;
    --color-alert-danger-border: #ebccd1;
    --color-alert-danger: #a94442;
}

.dark-mode {

    --color-text: #FFFFFF;
    --color-background: #000000;
    --color-background-highlight: #050505;
    --color-primary: #207CF3;
    --color-secondary: #1A1A1A;
    --color-accent: #3D6BE1;


    --color-alert-danger-bg: #842029;
    --color-alert-danger-border: #bd2130;
    --color-alert-danger: #f8f9fa;
}

.test-mode {
    --color-text: red;
}
