// Sets the default fallback to light-mode.
// If a variable in a different color mode isn't found, gets the variable from the default fallback.
// Includes accent colors that do not need translation to any other color modes.
:root, .light-mode {
    --text-color-primary: #1C1D21;
    --text-color-secondary: #303134;

    --bg-color: #f0f0f0;
    --bg-color-light: #fff;
    --bg-color-dark: #d8d8d8;
    --bg-color-darker: #c0c0c0;


    // Accents
    --color-accent-black: #1C1D21;
    --color-accent-black-dark: #191a1e;
    --color-accent-black-darker: #16171a;
    --color-accent-black-light: #25262c;

    --color-accent-white: #f0f0f0;

    --color-accent-blue: #4392F1;

    --color-accent-orange: #FF8600;

    --color-accent-red: #BA3B46;

    // Font-family
    --font-family: 'Segoe UI', sans-serif;
}

.dark-mode {
    --text-color-primary: #f0f0f0;
    --text-color-secondary: #fff;

    --bg-color: #1C1D21;
    --bg-color-dark: #191a1e;
    --bg-color-darker: #16171a;
    --bg-color-light: #25262c;
    --bg-color: #16171a;
}

.test-mode {
    --text-color-primary: red;
    --bg-color-secondary: blue;
}

